
$cisco-blue: (
  50: #C4D6ED,
  100: #64BBE3,
  200: #4CB4E1,
  300: #34ADDE,
  400: #1CA6DC,
  500: #049FD9,
  600: #078ECB,
  700: #1679B5,
  800: #0564B6,
  900: #2B5592,
  A100: #ABC233,
  A200: #6CC04A,
  A400: #00AD0B,
  A700: #008516,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$cisco-grey: (
  0: #ffffff,
  50: #fafafa,
  100: #F0F0F0,
  200: #eeeeee,
  300: #e0e0e0,
  400: #CCCCCC,
  500: #AAAAAA,
  600: #767676,
  700: #616161,
  800: #333333,
  900: #212121,
  1000: #000000,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    0: $black-87-opacity,
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    1000: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $white-87-opacity,
  )
);

$cisco-green: (
  50: #f5f8e7,
  100: #e6edc2,
  200: #d5e199,
  300: #c4d470,
  400: #b8cb52,
  500: #abc233,
  600: #a4bc2e,
  700: #9ab427,
  800: #91ac20,
  900: #809f14,
  A100: #f4ffd2,
  A200: #e8ff9f,
  A400: #dcff6c,
  A700: #d5ff52,
  contrast: (
    50: #58585b,
    100: #58585b,
    200: #58585b,
    300: #58585b,
    400: #58585b,
    500: #ffffff,
    600: #58585b,
    700: #58585b,
    800: #58585b,
    900: #58585b,
    A100: #58585b,
    A200: #58585b,
    A400: #58585b,
    A700: #58585b
  )
);

$cisco-gray: (
  50: #ffffff,
  100: #f2f2f2,
  200: #e8ebf1,
  300: #dfdfdf,
  400: #a7a9ab,
  500: #9e9ea2,
  600: #626469,
  700: #58585b,
  800: #39393b,
  900: #000000,
  A100: #ABC233,
  A200: #6CC04A,
  A400: #00AD0B,
  A700: #008516,
  contrast: (
    50: #58585b,
    100: #58585b,
    200: #58585b,
    300: #58585b,
    400: #58585b,
    500: #58585b,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity
  )
);

$cisco-status-red: (
  50 : #f9e4e6,
  100 : #f1bcc1,
  200 : #e79098,
  300 : #dd636e,
  400 : #d6414f,
  500 : #cf2030,
  600 : #ca1c2b,
  700 : #c31824,
  800 : #bd131e,
  900 : #b20b13,
  A100 : #ffdfe0,
  A200 : #ffacae,
  A400 : #ff797d,
  A700 : #ff5f64,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$cisco-status-orange: (
  50 : #ffeee0,
  100 : #ffd5b3,
  200 : #ffb980,
  300 : #ff9d4d,
  400 : #ff8826,
  500 : #ff7300,
  600 : #ff6b00,
  700 : #ff6000,
  800 : #ff5600,
  900 : #ff4300,
  A100 : #ffffff,
  A200 : #fff5f2,
  A400 : #ffccbf,
  A700 : #ffb8a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$cisco-status-yellow: (
  50 : #fff9e0,
  100 : #fff0b3,
  200 : #ffe680,
  300 : #ffdb4d,
  400 : #ffd426,
  500 : #ffcc00,
  600 : #ffc700,
  700 : #ffc000,
  800 : #ffb900,
  900 : #ffad00,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe8bf,
  A700 : #ffdfa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #58585b,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$cisco-status-green: (
  50 : #edf8e8,
  100 : #d2edc6,
  200 : #b4e1a1,
  300 : #96d47b,
  400 : #80cb5e,
  500 : #69c242,
  600 : #61bc3c,
  700 : #56b433,
  800 : #4cac2b,
  900 : #3b9f1d,
  A100 : #e0ffd8,
  A200 : #b7ffa5,
  A400 : #8eff72,
  A700 : #7aff58,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$cisco-status-turqoise: (
  50 : #e3f4f2,
  100 : #b9e5de,
  200 : #8ad3c9,
  300 : #5bc1b3,
  400 : #37b4a2,
  500 : #14a792,
  600 : #129f8a,
  700 : #0e967f,
  800 : #0b8c75,
  900 : #067c63,
  A100 : #aaffeb,
  A200 : #77ffde,
  A400 : #44ffd2,
  A700 : #2bffcc,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$cisco-status-blue: (
  50 : #ecf7fc,
  100 : #d1ebf7,
  200 : #b2ddf1,
  300 : #93cfeb,
  400 : #7bc5e7,
  500 : #64bbe3,
  600 : #5cb5e0,
  700 : #52acdc,
  800 : #48a4d8,
  900 : #3696d0,
  A100 : #ffffff,
  A200 : #e6f5ff,
  A400 : #b3e1ff,
  A700 : #9ad7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$primary: mat-palette($cisco-green);
$accent: mat-palette($cisco-green);
$warn: mat-palette($cisco-status-red);

$alt-primary: mat-palette($cisco-blue);
$alt-accent: mat-palette($cisco-gray);
$alt-warn: mat-palette($cisco-status-yellow);

$vts-light-theme-foreground: map-merge($mat-light-theme-foreground, (
  header: mat-color($cisco-grey, 800),
  disabled: mat-color($cisco-grey, 400),
  disabled-button: mat-color($cisco-gray, 400)
));

$vts-light-theme-background: map-merge($mat-light-theme-background, (
  background: mat-color($cisco-gray, 100),
  disabled-button: mat-color($cisco-gray, 200)
));
